@import "../../index.scss";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  background-color: rgba(255, 255, 255, 1);
  // width: 80%;

  @include respond(phone){
    padding: 3rem;
  }

  &__title{
    color: rgba(39, 45, 55, 1);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 40px;
    @include respond(phone){
      font-size: 2.4rem;
    }
  }

  &__subtitle{
    color: rgba(95, 109, 126, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    @include respond(phone){
      font-size: 1.6rem;
      text-align: center;
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;

    @include respond(tab-port){
      display: grid;
      grid-template-columns: repeat(4,1fr);
      
      .icondirection{
        grid-column: 2/3;
      }
    }
    @include respond(phone){
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .icondirection{

      }
    }

   &_icon{

   }
  }
}