@import "../../index.scss";

.container{
  // height: 68.8rem;
  // margin-top: 5rem;
  background-color: rgba(21, 27, 40, 1);
  padding: 5rem 0;
  &__center{
    // width: 128rem;
    // height: 56rem;
    // margin-top: 5rem;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port){
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    
    &_image{
      // background-color: aliceblue;
      &_img{
        // width: 80%;
        background-size: cover;
        @include respond(tab-port){
          width: 90%;
          height: 90%;
        }
      }
    }
    &_content{
      // background-color: aqua;
      // height: 56rem;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include respond(tab-port){
        width: 90%;
       
      }

        &_card{
          // width: 38.4rem;
          // padding-left: 2rem;
          margin-left: 10rem;
          // position: relative;
          &:not(:last-child){
            margin-bottom: 2rem;
          }

          @include respond(phone){
            padding: 0;
            margin: 0;

          }
          // height: 18.2rem;
          .icon{
  
          }
          .cardtitle{
            color: rgba(249, 249, 249, 1);
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 3rem;
            @include respond(phone){
              font-size: 2rem;
              line-height: 2.8rem;
            }

          }
          .cardsubtitle{
            color: rgba(95, 109, 126, 1);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            @include respond(phone){
              font-size:1.3rem;
              line-height: 1.8rem;

            }
          }   
        }
      }
    }
  }
  .btn{
    margin-top: 1rem;
    background-color: transparent;         
    color: rgba(67, 126, 247, 1);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.2rem;
  }
  .icon{
    width: 3.2rem;
    position: absolute;
    top: 0;
    left: -5rem;
    
  }