@import "../../index.scss";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  background-color: rgba(255, 255, 255, 1);

  @include respond(tab-port){
    // justify-content: left; 
    align-items: start;
  }
  @include respond(phone){
   padding: 2rem;
  }

  &__logo{

    &_icon{

    }
  }
  &__quote{
    color: rgba(39, 45, 55, 1);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.8rem;
    text-align: center;
    padding: 5rem 10rem 5rem 10rem;
    @include respond(tab-port){
      font-size: 2.2rem;
      padding: 0;
      text-align: left;
      
    }
    @include respond(phone){
      font-size: 2rem;
      
    }
  }
  &__info{
    display: flex;
    align-items: center;
    &_image{

    }
    &_about{
      &_name{

      }
      &_designation{

      }
    }
  }
}