@import "../../index.scss";


.nav_logo{
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  
}

.hamburger_nav{
  visibility: hidden;
  
  @include respond(tab-port){
    visibility: visible;
  }
}

.hamburger_checkbox {
  display: none;
  
}

.hamburger {
  display: block;
  width: 3.5rem;
  height: 3rem;
  position: fixed;
  top: 20px;
  // left: 20px;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px 0;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.hamburger_checkbox:checked + .hamburger .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger_checkbox:checked + .hamburger .bar:nth-child(2) {
  opacity: 0;
}

.hamburger_checkbox:checked + .hamburger .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

.nav_links {
  position: fixed;
  top: 0;
  // left: -250px;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(67, 126, 247, 1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  z-index: 101;
}

.nav_links a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
}

.close_btn {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.hamburger_checkbox:checked ~ .nav_links {
  // left: 0;
  right: 0;
}

// regular navigation bar
.navigationbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.5px solid rgba(white, 30%);
  padding: 2rem 0 2rem 0;
  
  @include respond(tab-port){
    // width: 50%;
    visibility: collapse;
    padding: 0;

  }
  @include respond(phone){
    
  }
  // logo
  &__logo{
    // background-color: red;
    flex-grow: 1;
    text-align: center;
    &_icon{

    }
  }
  // nav items
  &__navitems{
    // background-color: green;
    flex-grow: 2.5;
    
    display: flex;
    
    &_item{
      font-size: 1.5rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      &:not(:last-child){
        margin-right: 5rem;
      }
      &:hover{
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
      }
    }
  }
  // nav buttons
  &__buttons{
    // background-color: blue;
    flex-grow: 1;
    &_btn{
      background-color: transparent;
      color: white;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        color: rgba(white, .5);
      }
    }
    &_signup{
      background-color: rgba(67, 126, 247, 1);
      padding: 1rem;
      margin-left: 2rem;
      border-radius: .5rem;
      @include respond(tab-port){
        margin-left: 0;
        padding: 0;
      }
    }
    
  }
}