@import '../../index.scss';

.container{
  // height: 91vh;
  // margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  &__header{
    // width: 128rem;
    // padding: 0 3.2rem;
    margin-bottom: 6.4rem;
    // background-color: aqua;
    &_title{
      text-align: center;
      color: rgba(39, 45, 55, 1);
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 1.6rem;
    }
    &_subtitle{
      text-align: center;
      color: rgba(95, 109, 126, 1);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
  &__body{
    // width: 128rem;
    @include respond(tab-port){
      display: flex;
      align-items: baseline;
    }

    @include respond(phone){
      display: flex;
      flex-direction: column;
      // align-items: baseline;
    }

    &_content{
      // background-color: aqua;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include respond(tab-port){
        display: flex;
        flex-direction: column;
      }
      
      &:not(:last-child){
        margin-bottom: 6.4rem;
      }
      &_card{
        // width: 38.4rem;
        height: 18.2rem;
        margin: 2rem;
        .icon{

        }
        .cardtitle{
          color: rgba(39, 45, 55, 1);
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 3rem;

        }
        .cardsubtitle{
          color: rgba(95, 109, 126, 1);
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.4rem;
          
        }
        
      }
    }
  }
}
.btn{
  margin-top: 1rem;
  background-color: transparent;         
  color: rgba(67, 126, 247, 1);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
}
.icon{
  width: 3.2rem;
}