@import "../../index.scss";

.top{
  // height: 91vh;
  // margin: 6.4rem 0;
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  &__header{
    // width: 128rem;
    // padding: 0 3.2rem;
    margin-bottom: 6.4rem;
    // background-color: aqua;
    &_title{
      text-align: center;
      color: rgba(39, 45, 55, 1);
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 1.6rem;
      // padding: 0 20rem 0 20rem;
      @include respond(tab-port){
        font-size: 3.2rem;
      }
      @include respond(phone){
        font-size: 2.8rem;
        font-weight: 600;
        padding: 0 1rem;
      }
    }
    &_subtitle{
      text-align: center;
      color: rgba(67, 126, 247, 1);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      @include respond(phone){
        font-size: 1.4rem;
      }
    }
  }
  &__input{
    &_email{
      width: 42.4rem;
      padding: 1.2rem;
      border: 1px solid rgba(145, 155, 167, .5);
      outline: none;
      border-radius: 1rem 0 0 1rem;
      @include respond(tab-port){
        // width: 80%;
      }
      @include respond(phone){
        width: 90%;
        border-radius: .5rem;
      }
    }
    &_button{
      background-color: rgba(67, 126, 247, 1);
      color: white;
      padding: 1.25rem 1.8rem;
      border-radius: 0 1rem 1rem 0;
      font-weight: 600;

      @include respond(tab-port){
        
      }
      @include respond(phone){
        width: 100%;
        border-radius: .5rem;
        margin-top: 1rem;
      }
    }
  }
  &__features{
    display: flex;
    gap: 4rem;
    margin-top: 5rem;
    @include respond(tab-port){
      gap: 0;
    }
    &_icon{
      display: flex;
      align-items: center;
      gap: .5rem;

      @include respond(phone){
        

      }
      &_img{

      }
      &_text{
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
      }
    }
  }
}

.bottom{
  background-color: rgba(21, 27, 40, 1);
  // padding: 5rem 20rem 0 20rem;
  

  &__columns{
    display: flex;
    justify-content: space-between;

    @include respond(tab-port){
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: 2rem;
    }

    @include respond(phone){
      display: grid;
      grid-template-rows: repeat(3,1fr);
      // grid-template-rows: 1fr 1fr 1fr;
      
    }

    &_mid{
      @include respond(phone){
        grid-row: 2/3;
        
      }
    }
    &_col3{
      @include respond(phone){
        grid-row: 3/3;
      }
    }
   
    &_col{
      padding: 5rem;
      @include respond(tab-port){
       padding: 0;
      }
      &_logo{

      }
      &_title{
        color: rgba(249, 249, 249, 1);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;
        @include respond(tab-port){
          padding: 0 0 1.5rem 0;
        }
        @include respond(phone){
          font-weight: 500;
          
        }
      }
      &_text, &_text1{
        color: rgba(165, 172, 186, 1);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        @include respond(tab-port){
          padding: 0 0 1rem 0;
          font-weight: 500;
        }
      }
      &_text1{
        
      }
      &_input{
        &_area{
          background-color: rgba(46, 53, 69, 1);
          padding: 1rem;
          border-radius: .5rem 0 0 .5rem;
        }
        &_btn{
         background-color: rgba(67, 126, 247, 1); 
         color: rgba(255, 255, 255, 1);
         padding: 1rem;
         border-radius: 0 .5rem .5rem 0;

        }
      }
      
    }
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(165, 172, 186, .5);
    padding: 5rem 0 5rem 0;
    margin: 0 5rem;
    @include respond(tab-port){
      margin: 0 2.5rem;
    }
    @include respond(phone){
      flex-direction: column;
      padding: 2rem 0;
    }
    &_text{
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: rgba(165, 172, 186, 1);
      @include respond(phone){
        margin-bottom: 1rem;
      }
    }
    &_icons{
      display: flex;
      gap: 2rem;
      @include respond(phone){
        justify-content: space-around;
      }
      &_icon{
        
      }
    }
  }
}